@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --sider-background:  hsl(0 0% 97.25%);
    
    --button-text-color:hsl(45deg 7.84% 20% / 70%);
    --button-text-color-50: hsl(45deg 7.84% 20% / 50%);
    
    --button-hover-background: hsl(0deg 0% 0% / 5%);
    --button-selected-background: hsl(0deg 0% 0% / 7%);

  }
}

@layer components{
  .hoverButton{
    @apply hover:!bg-buttonHoverBackground 
  }

  .icon{
    @apply text-primary text-[15px]
  }
}